


/* header section */



.navbarflex{
    display: flex;
    justify-content: space-between;
    margin: 0 0rem 0 32%;
    padding: 0 1rem;
}
.nav-item{
    margin: 0 8px 0 8px;
    font-weight: 200;

}


/* comment section end */





/* course users roung */
/* .cardContents .smalluserimage{
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    width: 3vw;
    border-radius: 50%;
    overflow: hidden;
    height: 3vw;
}
.cardContents .smalluserimage img{
    height: 3vw;
    margin-top: -2.2rem;

} */


/* video card courses */
/* .thumbnailimage{
    display: inline-block;
    background: rgb(204, 193, 218);
    width:4.5vw;
    padding:0.1rem;
    border-radius: 0.2rem;
    
}
.thumbnailimage img{
    max-height: 3rem;
   
}

*/

@media (min-width: 768px){
.cardsInCourse {
    flex: 0 0 22%;
    margin:0 0 0.5rem 0.5rem;
    /* max-width: 25%; */
}

}

@media (max-width: 1336px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin: 2rem;
        /* max-width: 25%; */
    }
    
    }


@media (max-width: 1168px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin: 1%;
        /* max-width: 25%; */
    }
    
}

@media (max-width: 1068px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin: 0.2rem;
        /* max-width: 25%; */
    }
    
}

@media (max-width: 991px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin: 2%;
        /* max-width: 25%; */
    }
    
}

@media (max-width: 730px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin:0 20%;
        /* max-width: 25%; */
    }
    
}

@media (max-width: 530px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin:0 5%;
        /* max-width: 25%; */
    }
    
}


/* header two */
/*  */
/*  */
/*  */
/*  */



/* navbar shortening */
