

body{
    background: #ffffff ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    position: relative;
    width: 100%;
    height: 84px;
    left: 52px;
    top: 0px;
    padding: 2rem 4rem;
}
a{
    cursor: pointer;
}
.pointer{
    cursor: pointer;}

.abel{
    font-family: 'Abel', sans-serif ;
 }


 hr{
     margin: 1px 0 0 0;
     border-top: 1px solid rgb(80, 78, 78);
 }
 .light{
     margin: 0.1rem;
     border-top: 1px solid rgb(189, 179, 179);
 }
 
 .hel{
     font-family: Arial, Helvetica, sans-serif
 }
 
 img{
     width: 100%;
 }
 
 
 .main a{
     text-decoration: none !important;
     color: white;
 }
 .smalltext{
     font-size: 13px;
 }

 /* navbar */

 .bgvideodiv{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    height: 640px;
    background: rgba(6, 0, 50, 0.8);
    padding: 1rem;
    overflow: hidden;
}

 .bgvideodiv video{
    width: 100%;
    transform: scale(1.1);
}



.mynavbar{
    height: 5.5rem;
    padding: 1rem 2rem 0 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    background: rgba(6, 0, 50, 0.8);
    position: fixed;
    top: 0;
    width: 95%;
    color: rgb(255, 255, 255);
    
}

.mynavitems{
    position: relative;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;
    */
}

.mylinks{
    position: relative;
    margin:1rem 3.5rem;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welcomepart{
   text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    margin-top: 25%;
    color: #928e8e;

}


.maintext{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width:500px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #999999;
    text-align: center;

}

button{
    border-radius: 5px;
    padding: 0;
    border: hidden;

}

.downarrow{
    text-align: center;
    margin-top: 2rem;
}

.downarrowbtn{
    position: relative;
    background: #1d3577;
    padding:1rem 4rem;
    border-radius: 5px;
    display: flex;
    justify-self: center;
}

/* new section */
#aboutus{
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    margin-top: 3rem;
    color: #000000 !important;


}

#aboutus .image{
    display: grid;
    grid-template-columns: 50% 50%;
    padding:3rem 3rem;
}
.intro{
    color: #000;
}
#aboutus  img{
    border-radius: 10rem;
}

.image .imgdescp{
    font-weight:500;
    font-size: 15px;
    line-height: 24px;
    text-align:left;
    padding: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000 !important;


}
/*  */
.sponsertitle{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000 !important;
    margin: 4rem 0 0 5rem;
    text-align: center;
}
.mediatitle{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000 !important;
    margin: 4rem 0 0 5rem;
    text-align: center;
}

.sponserscard img{
    border-radius: 1rem ;

}

.sponserscards{
    padding:2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sponserscard{
    position: relative;
    width: 252px;
    box-shadow: 0 1px 1px rgb(164, 163, 165);
    margin: 1rem;
    border-radius: 1rem;

}

#footer {
    position: relative;
    width: 90%;
    left:50%;
    transform: translate(-50%);
    padding: 3rem;
    text-align: center;
    background: #8482EA;
}
#footer .footerup{

    display: grid;
    grid-template-columns: 40% 35% 35%;
}

.footertext{
    text-align: left;
}

.copyright{
    margin: 2rem 0;
}

.Socialicons {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.Socialicons .socialicon a{
    margin: 1rem;
    border: 1px solid rgb(102, 102, 102);
    padding: 0.5rem 1rem;
    border-radius: 7px;
    font-size: 1rem;
}
.Socialicons .socialicon .facebook{
    background: rgb(46, 19, 224);
}
.Socialicons .socialicon .google{
    background: rgb(179, 102, 13);
}
.Socialicons .socialicon .twitter{
    background: rgb(52, 123, 230);
}
.Socialicons .socialicon .youtube{
    background: rgb(226, 12, 12);
}


